/*##Colors*/

/*###Primary*/

$pink: hsl(322, 100%, 66%);
$light-pink: hsl(322, 100%, 70%);
$dark-pink: hsl(322, 100%, 60%);
/*###Neutral*/

$very-pale-cyan: hsl(193, 100%, 96%);
$very-dark-cyan: hsl(192, 100%, 9%);
$grayish-blue: hsl(208, 11%, 55%);
$grayish-blue-border: hsla(208, 11%, 55%,.3);
$bg-white: hsl(0,0,100%);
$bg-dark-white: rgb(255, 241, 241);


/*## Typography*/

/*### Body*/

$font-size: 18px;

/*### Font*/

$font-heading: 'Poppins', sans-serif;
$font-body: 'Open Sans', sans-serif;
$font-w-heading:600;
$font-w-os-small:400;
$font-w-os-bold:700;



